/* Pridej si styles na svuj ul list, na <a> hover a color, */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    background-color: #f0f0f0;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Numberes list styles */
ol {
    background-color: #f0f0f0;
    padding: 10px;

    li {
        background-color: #b1a4a4;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
    }
}

/* div card style */
.card {
    background-color: #b1a4a46d;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(210, 11, 11);
}
/*  paragraph in the list styles */
.dalibor_hobbies {
    background-color: #b1a4a4;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 25px;
}