.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.content {
  display: flex;
  gap: 30px;
}

/* Products Section */
.products-section h2 {
  flex: 2;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-card {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-card h3 {
  margin: 0;
  text-align: left;
}

.price {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.add-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.add-button:hover {
  background-color: #535bf2;
}


.cart-section {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: fit-content;
}

.cart-section h2 {
  margin-top: 0;
}

.empty-cart {
  color: #888;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-info {
  flex: 1;
}

.remove-button {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

.cart-total {
  border-top: 2px solid #e0e0e0;
  padding-top: 1rem;
  text-align: right;
  font-size: 1.3rem;
  color: #333;
}

.cart-total span {
  color: #646cff;
  font-size: 1.5rem;
}

.clear-cart-button{
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}